<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo App w/localStorage</title>
    <link rel="shortcut icon" id="icon"href="todo.jpeg">
    <link rel="stylesheet" href="assets/css/todos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" type="text/css">
  </head>
  <body>
    <div class="center">
      <h2>Your Personal To-Do List</h2>
      <button type="button"  id="about"class="close"></button>
      <button type="button" id="close"class="close">Close</button>
      <div class="hidden">
        <p>
          <strong>Built By: </strong><em>Micah Dunson</em><br>
          <strong id="contact">Contact: </strong><em> <a target="_blank" href="mailto:Dojadeveloper@gmail.com">Dojadeveloper@gmail.com</a></em><br><br>

          <a id="GHlink"target="_blank" href="https://github.com/M-Doja/Todo-localStorage">
            <img src="gh.svg" target="_blank" href="https://github.com/M-Doja/Todo-localStorage" width="170"alt=""><br>
            <strong id="git">View Project</strong>
          </a>

        </p>

        <p>This Javascript web application was built using the following technologies:</p>
        <ol>
          <li>jQuery</li>
          <li>Font Awesome</li>
          <li>Google Font 'Roboto'</li>
          <li>LocalStorage API</li>
        </ol>
      </div>
    </div>
    <div id="container">
      <h1>To-Do List <i class="fa fa-plus"></i></h1>
      <input type="text" autofocus name="" placeholder="Add A New Todo">
      <ul id="ul"></ul>
    </div>
    <script src="assets/js/lib/jQuery.2.1.4.min.js" charset="utf-8"></script>
    <script src="assets/js/todos.js" charset="utf-8"></script>
  </body>
</html>
